/************ SIDE BAR **************/
/* Widget Page Menu bar */
.burger {
  position: absolute;
  top: 0;
  right: 0;
}

.menubar-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 310px;
  transform: translateY(0%);
  transition: all 0.4s;
  overflow-y: auto;
}

/* Widget Page Theme bar */
.themebar-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 310px;
  transform: translateY(0%);
  transition: all 0.4s;
  overflow-y: auto;
}

.bar-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0rem;
}

/* Widget Page Widget bar */
.widgetbar-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 310px;
  transform: translateY(0%);
  transition: all 0.4s;
  overflow-y: auto;
}

/************ DRAG DROP **************/
/* Widget Drag-drop */
.container {
  display: flex;
  touch-action: none;
  width: 800px;
  margin: 1rem auto;
}

.dropzone {
  flex: 1;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.dropzone.left {
  margin-right: 10px;
}

.grid-item {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.grid-item-content {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #08e;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 50%;
}


/************ Widget Target Box **************/
.targetbox-widgets {
  width: 10%;
}

.dropped-widget {
  padding: 1rem;
}


/************ Widget Target Rearrange **************/
.widget-rearrange {
  text-align: center;
}

.widgets {
  list-style: none;
  padding-left: 0;
}

.widgets li {
  display: flex;
  align-items: center;
  border: solid 2px #a31919;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.widgets p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.widgets-url {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-url img {
  display: block;
  width: 100%;
  height: auto;
}

/************ Widget Timer **************/

.timer-group {
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 400px;
  color: orange;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.face {
  background: rgba(0, 0, 0, .1);
  border-radius: 50%;
  height: 296px;
  left: 52px;
  padding: 165px 40px 0;
  position: absolute;
  width: 296px;
  text-align: center;
  margin-top: 5rem;
}

.face h1 {
  font-size: 20px;
  font-weight: 300;
}

.face p {
  border-radius: 20px;
  font-size: 76px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  width: 260px;
  left: 20px;
}

.paused {
  border-radius: 50%;
  background-color: rgba(157, 247, 66, 0.759);
  height: 400px;
  left: 0;
  width: 400px;
  top: 0;
}

.timer {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.timer:after {
  background: #111;
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 10px;
  position: absolute;
  width: 80px;
  top: 10px;
}

.timer .hand {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.timer .hand span {
  border: 50px solid rgba(0, 255, 255, .4);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(225deg);
  width: 0;
}

.timer .hand:first-child {
  transform: rotate(180deg);
}

.timer .hand span {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer .hand:first-child span {
  animation-name: spin1;
}

.timer .hand:last-child span {
  animation-name: spin2;
}

.timer.hour {
  background: rgba(0, 0, 0, .3);
  height: 400px;
  left: 0;
  width: 400px;
  top: 0;
}

.timer.hour .hand span {
  animation-duration: 3600s;
  border-top-color: rgba(255, 0, 255, .4);
  border-right-color: rgba(255, 0, 255, .4);
  border-width: 200px;
}

.timer.hour:after {
  height: 360px;
  left: 20px;
  width: 360px;
  top: 20px;
}

.timer.minute {
  background: rgba(0, 0, 0, .2);
  height: 350px;
  left: 25px;
  width: 350px;
  top: 25px;
}

.timer.minute .hand span {
  animation-duration: 60s;
  border-top-color: rgba(0, 255, 255, .4);
  border-right-color: rgba(0, 255, 255, .4);
  border-width: 175px;
}

.timer.minute:after {
  height: 310px;
  left: 20px;
  width: 310px;
  top: 20px;
}

.timer.second {
  background: rgba(0, 0, 0, .2);
  height: 300px;
  left: 50px;
  width: 300px;
  top: 50px;
}

.timer.second .hand span {
  animation-duration: 1s;
  border-top-color: rgba(255, 255, 255, .15);
  border-right-color: rgba(255, 255, 255, .15);
  border-width: 150px;
}

.timer.second:after {
  height: 296px;
  left: 2px;
  width: 296px;
  top: 2px;
}

@keyframes spin1 {
  0% {
    transform: rotate(225deg);
  }

  50% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(225deg);
  }

  50% {
    transform: rotate(405deg);
  }

  100% {
    transform: rotate(405deg);
  }
}