/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");

/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Comfortaa Font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}
/* Weather Widget */
@layer components {
    .side-rotate {
        @apply absolute inset-y-0 right-0 w-16 origin-center -rotate-90 h-fit mt-8 text-lg;
    }
}

.card.image-full:before {
    @apply opacity-40;
}
/* React flow */

.react-flow .react-flow__handle {
    width: 30px;
    height: 14px;
    border-radius: 3px;
    background-color: #784be8;
}

.react-flow .react-flow__handle-top {
    top: -10px;
}

.react-flow .react-flow__handle-bottom {
    bottom: -10px;
}

.react-flow .react-flow__node {
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-width: 2px;
    font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
    stroke-width: 2;
}

.wrapper {
    flex-grow: 1;
    height: 100%;
}

@layer components {

    .mindmap .react-flow__node:hover,
    .mindmap .react-flow__node:focus {
        @apply bg-slate-300;
    }

    .deleteEdge {
        @apply w-5 h-5 bg-slate-300 border rounded-full text-xs leading-none
    }

    .deleteEdge:hover {
        @apply border-amber-500
    }

    .deleteEdge-foreignobject button {
        @apply bg-transparent min-w-10 min-h-10 items-center justify-center flex;
    }

}

.react-flow__node-text {
    @apply border border-black rounded text-center bg-white indicator
}

.react-flow__node-text input {
    @apply w-full h-full border-0 bg-transparent text-center outline-0
}

/* .deleteEdge {
    @apply absolute top-0 right-0 w-4 h-4 bg-red-500 text-white rounded-full text-center cursor-pointer;
} */